<meta name="description" content="<%%= t('index.description') %>"/>
<meta name="og:title" content="<%%= t('app.name') %>"/>
<meta name="og:description" content="<%%= t('index.description') %>"/>
<meta name="og:image" content="<%%- assetPath('/images/favicons/android-chrome-512x512.png') %>"/>
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@circlepay" />
<meta name="twitter:title" content="<%%= t('app.name') %>" />
<meta name="twitter:description" content="<%%= t('index.description') %>" />
<meta name="twitter:image" content="<%%- assetPath('/images/favicons/android-chrome-512x512.png') %>"/>
<title><%%= t('app.name') %></title>
